/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}

/* nav section */
.navbar {
  display: flex;
  align-items: center;
  padding: 20px;
  padding-top: 40px;
}
nav {
  flex: 1;
  text-align: right;
}
nav ul {
  list-style: none;
  display: inline-block;
}
nav ul li {
  display: inline-block;
  margin-right: 20px;
}
a {
  text-decoration: none;
  color: #555;
  font-size: 1.25rem;
}
p {
  color: #555;
}
/* Header Section */
header {
  max-width: 1330px;
  margin: auto;
  padding-left: 50px;
  padding-right: 50px;
}
.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
.col-2 {
  flex-basis: 50%;
  min-width: 300px;
}
.col-2 img {
  max-width: 100%;
  padding: 50px 0;
}
.col-2 h1 {
  font-size: 50px;
  line-height: 60px;
  margin: 25px 0;
}
.btn {
  display: inline-block;
  background: #ff523b;
  color: #fff;
  padding: 8px 30px;
  margin: 30px 0;
  border-radius: 30px;
  transition: transform 0.5s;
}
.btn:hover {
  background: #563434;
  transform: scale(1.1);
}
.header {
  /* background: linear-gradient(#fff, #ffd6d6); */
  background: radial-gradient(#fff, #ffd6d6);
}

.header .row {
  margin-top: 70px;
}

/* Section 2 and Section 3 */
.section,
.section-2 {
  margin: 70px 0px;
}

.col-3 {
  flex-basis: 30%;
  min-width: 250px;
  margin-bottom: 30px;
}
.col-3 img {
  width: 100%;
}
/* Small Section */
.small-sec {
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
.col-4 {
  flex-basis: 25%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 50px;
  transition: transform 0.8s;
}
.col-4 img {
  width: 100%;
  transition: transform 0.8s;
}
.col-4 img:hover {
  transform: rotateY(180deg) translateY(-10px);
}

/* Feature Section */
.feature {
  text-align: center;
  color: #555;
  position: relative;
  margin: 0px auto 40px;
}
.feature::after {
  content: "";
  background: #ff523b;
  position: absolute;
  width: 150px;
  height: 4px;
  border-radius: 30px;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
}

.col-4 h4 {
  color: #555;
  font-weight: normal;
}
.col-4 p {
  font-size: 14px;
}
.ratings .fa-star,
.fa-solid {
  color: #ff523b;
}
.col-4:hover {
  transform: translateY(-10px);
}

/* section 4  */
.section-4 {
  background: radial-gradient(#fff, #ffd6d6);
  margin-top: 20px;
  padding: 25px 0px;
}

.col-5 {
  flex: 1;
  min-width: 250px;
  max-width: 100%;
  padding: 50px;
  justify-content: center;
  align-items: center;
}
/* .col-6{
  flex:1;
  padding: 50px;
  min-width: 250px;
  max-width: 100%;
  justify-content: center;
  align-items: center;
} */
.offer {
  width: 100%;
  padding: 50px;
}
small {
  color: #555;
}
.section-5 {
  padding-top: 80px;
}
.section-5 .col-3 {
  justify-content: center;
  align-items: center;
  padding: 30px 20px;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
  transition: transform 0.8s;
}
.section-5 .col-3:hover {
  transform: translateY(-10px);
}
.section-5 .col-3 img {
  width: 80px;
  margin: 20px 0px;
  border-radius: 50%;
  transition: transform 0.8s;
}
.section-5 .col-3 img:hover {
  transform: rotateY(180deg);
}
.section-5 .col-3 h3 {
  margin-bottom: 10px;
}
.section-5 .col-3 .ratings {
  margin: 10px 0px;
}
/* Section-6 */
.section-6 {
  margin: 50px auto;
}
.col5 {
  width: 160px;
}
.col5 img {
  width: 100%;
  cursor: pointer;
  filter: grayscale(95%);
}
.col5 img:hover {
  filter: grayscale(10%);
}

/* Footer */
.footer {
  background: #000;
  color: #8a8a8a;
  font-size: 14px;
  padding: 60px;
  text-align: center;
}

.f-col-1,
.f-col-2,
.f-col-3,
.f-col-4 {
  min-width: 250px;
  margin-bottom: 20px;
  padding: 0px 20px;
  flex: 1;
}

.footer p {
  color: #8a8a8a;
}
.footer h3 {
  color: #fff;
  margin-bottom: 20px;
}
.f-col-2 img {
  width: 180px;
  margin-bottom: 20px;
}
ul {
  list-style: none;
}
.app-logo {
  margin-top: 20px;
}
.app-logo img {
  width: 80px;
  height: 30px;
}
.footer hr {
  border: none;
  background: #b5b5b5;
  height: 1px;
  margin: 20px 0px;
}
.copy-right {
  text-align: center;
}
.menu {
  width: 20px;
  margin-left: 20px;
  display: none;
  opacity: 0;
}

/* Product styling */
.row2 {
  justify-content: space-between;
  margin: 100px auto 50px;
}

select {
  border: 2px solid #ff523b;
  border-radius: 5px;
  padding: 5px;
  /* outline: none; */
}
select:focus {
  outline: none;
  border: 2px solid #ff523b;
}
/* option {
  height: 20px;
  margin: 20px;
  line-height: 20px;
  padding: 20px;
  border: 2px solid #ff523b;

} */
.page-btn {
  margin: 0px auto 80px;
}

.page-btn span {
  display: inline-block;
  border: 1px solid #ff523b;
  margin-left: 10px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}
.page-btn span:hover {
  background: #ff523b;
  color: #fff;
}

.single-product {
  margin-top: 80px;
}
.single-product .col-2 img {
  padding: 10px;
}
.single-product .col-2 {
  padding: 30px;
}
.single-product h4 {
  margin: 20px 0px;
  font-size: 20px;
  font-weight: bold;
}
.single-product select {
  display: block;
  padding: 10px;
  /* margin-top: 20px; */
  /* margin: 0px auto; */
}
.single-product input {
  height: 40px;
  width: 60px;
  font-size: 20px;
  padding: 5px;
  border: 2px solid red;
  text-align: center;
  border-radius: 5px;
}
.single-product input:focus {
  outline: none;
  border: 2px solid red;
}
.single-product .btn {
  margin-left: 20px;
}
.single-product .fa {
  margin-left: 10px;
  color: #ff523b;
}
.small-img-row {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  justify-content: space-between;
  padding: 20px;
}
.small-img-col {
  flex-basis: 23%;
  cursor: pointer;
  min-width: 100px;
  margin-right: 5px;
  overflow: hidden;
}
.small-img-col img {
  width: 100%;
  display: block;
}

/* cart page  */

.cart-page {
  margin: 80px auto;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin: 40px 0px;
}
.cart-info {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
}
.top {
  padding-top: 15px;
}
th {
  text-align: left;
  padding: 10px;
  color: #fff;
  background: #ff523b;
  font-weight: normal;
}

td input {
  width: 60px;
  height: 30px;
  padding: 5px;
  text-align: center;
  outline: none;
  border: 1px solid black;
  border-radius: 5px;
}

td a {
  color: #ff523b;
  font-size: 12px;
}
td img {
  width: 80px;
  height: 80px;
  margin-right: 20px;
  border-radius: 5px;
}
.total-price {
  display: flex;
  justify-content: flex-end;
}
.total-price table {
  border-top: 2px solid #ff523b;
  width: 100%;
  max-width: 500px;
}
.total-price td {
  padding: 0px 20px;
}
td:last-child {
  text-align: right;
  padding: 0px 20px;
}
th:last-child {
  text-align: right;
}

/* Account page  */

.account-page {
  margin: 10px 0px;
  background: radial-gradient(#fff, #ffd6d6);
  /* overflow: hidden; */
}
.form-cont {
  background: #fff;
  width: 350px;
  height: 450px;
  position: relative;
  text-align: center;
  padding: 20px 0px;
  margin: auto;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.form-cont span {
  font-weight: bold;
  padding: 0px 20px;
  color: #555;
  cursor: pointer;
  width: 100px;
  display: inline-block;
}
.form-btn {
  display: inline-block;
}
.form-cont form {
  max-width: 350px;
  padding: 0px 20px;
  position: absolute;
  top: 130px;
  transition: all 0.5s ease-in-out;
}
form input {
  width: 100%;
  height: 30px;
  margin: 15px 0px;
  padding: 0px 15px;
  border: 2px solid #ccc;
  outline: none;
}
form .btn {
  width: 100%;
  border: none;
  cursor: pointer;
  margin: 10px 0px;
}
form .btn:focus {
  outline: none;
}
#loginForm {
  /* top: -600px; */
  /* display: none; */
  left: -400px;
}
#regForm {
  left: 0px;
}
form a {
  font-size: 12px;
}
#indicator {
  width: 100px;
  height: 3px;
  margin-top: 5px;
  background: #ff523b;
  border: none;
  transform: translateX(110px);
  transition: all 0.5s ease-in-out;
}

